
@import "~bootstrap/scss/functions";

// Main Colors
$primary: #6d67ea;
$secondary: #dedcff;
$danger: #433bff;


// Text Color
$body-color: #ffffff;


@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
