@import "leaflet/dist/leaflet.css";

body {
  background: linear-gradient(135deg, #000216, #1a1a4d);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Sections bg */

.contribute-section {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 60px 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Buttons */

/* btn primary  */
.btn.primary {
  background-color: #000216;
  color: #2f27ce;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.btn.primary:hover {
  background-color: #01042a;
  color: #fff;
  box-shadow: 0 6px 15px #131536;
}

/* btn secondary */
.btn.secondary {
  background-color: #000216;
  color: #6d67ea;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.361);

  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.btn.secondary:hover {
  background-color: #01042a;
  color: #fff;
}

/* button sucess */

.btn.sucess {
  background-color: #3a359f;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.591);

  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.btn.sucess:hover {
  background-color: #000216;
  color: #6d67ea;
}

/* Cards */

.card {
  position: relative;
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 12px;
  background: linear-gradient(90deg, #413bff25, #6e67ea22, #413bff1d);
  background-size: 200% 200%;
  animation: borderGlow 3s linear infinite;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Icons Wrapper */

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px rgba(137, 105, 255, 0.361);
}

.parallax-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  clip-path: polygon(0 0, 100% 120px, 100% 100%, 0% 100%);
}

.parallax-effect::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/images/parallex.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: center top;
  background-attachment: fixed;
  filter: blur(5px);
  opacity: 0.6;
  z-index: 0;
}

.parallax-effect > * {
  position: relative;
  z-index: 1;
}

/* SVGs Box */
.feature-box {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Vote btn */

.vote-btn:hover {
  color: #6d67ea !important;
}
.vote-btn.active-up {
  color: #6d67ea !important;
  filter: drop-shadow(0 0 4px #6d67ea);
}
.vote-btn.active-down {
  color: #e04c4c !important;
  filter: drop-shadow(0 0 4px #e04c4c);
}


/* text box */

.form-control {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="file"]::file-selector-button {
  background: rgba(255, 255, 255, 0.126) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  cursor: pointer;
}

/* Left side bar */
.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: #141630;
  color: #fff;
  padding: 15px;
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
}
.left-sidebar.open { transform: translateX(0); }
.left-sidebar.closed { transform: translateX(-260px); }

/* ---------- Mini Sidebar  ---------- */
.mini-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  z-index: 1200;
  background: linear-gradient(rgb(20 22 49));
}

.right-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
  background: #212529;
  color: #fff;
  padding: 16px;
  z-index: 1150;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid rgba(255,255,255,0.1);

   overflow-y: auto; 
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #6d67ea #212529;
}

.right-sidebar.open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.right-sidebar.closed {
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
}

/* Chrome, Edge, Safari */
.right-sidebar::-webkit-scrollbar {
  width: 8px;
}

.right-sidebar::-webkit-scrollbar-track {
  background: #212529; 
}

.right-sidebar::-webkit-scrollbar-thumb {
  background-color: #6d67ea;
  border-radius: 10px;
  border: 2px solid #212529;
}

.right-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #918bff; 
}




/* ---------- Tooltip ---------- */
.leaflet-tooltip.state-tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 13px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}



.map-legend{
  background: rgba(30, 0, 255, 0.199);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 12px;
  padding: 12px 14px;
  color: #fff;
}

.map-legend .swatch{
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.25);
  display: inline-block;
}



/* Custom select box */
.form-select {
  background-color: #141630 !important;
  color: #fff !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 12px;
  appearance: none; /* remove default arrow on some browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select:focus {
  background-color: #1e2147;      /* lighter on focus */
  border-color: #2f27ce;          /* your theme primary */
  box-shadow: 0 0 0 0.25rem rgba(47, 39, 206, 0.3);
  color: #fff;
}

.form-select option {
  background: #141630;            /* dropdown background */
  color: #fff;
  padding: 10px;
}


.form-select {
  background-color: #141630 !important;
  color: #fff !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-select:focus {
  background-color: #1e2147 !important;
  border-color: #2f27ce !important;
  color: #fff !important;
  box-shadow: 0 0 0 0.25rem rgba(47, 39, 206, 0.3);
}


/* Custom scrollbar inside dropdown */
.form-select option {
  background-color: #141630;  /* dark dropdown */
  color: #fff;
}

/* Scrollbar style */
.form-select::-webkit-scrollbar {
  width: 8px;
}
.form-select::-webkit-scrollbar-track {
  background: #1e2147; 
  border-radius: 8px;
}
.form-select::-webkit-scrollbar-thumb {
  background: #2f27ce;
  border-radius: 8px;
}
.form-select::-webkit-scrollbar-thumb:hover {
  background: #4b40f5;
}
